*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.containar {
    display:flex;
}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px  5px 20px black;
    overflow: hidden;
}
img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
}
.summary { 
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background-color: rgb(66, 66, 66);
    color: white;
}
h1 {
    margin: 10px;
    font-size: 40px;
}
p {
font-size: 20px;
margin: 20px;
visibility: hidden;

}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
}
.card:hover .summary{
  height:220px ;
  bottom: 240px;
 
}
.card:hover p{
    opacity: 1;
    visibility: visible;

}