

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.card {
  background-color: #06d7eff4;
  margin: 5px;
  width: 19%;
}
html {
  height: 100%;
}
body {
  background-color: #a8e6fe;
  height: 100%;
}

header {
  height: 13%;
}

.kino-haqida-container {
  height: 90%;
  padding: 20px 180px;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2lub3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}

.kino-haqida-container-img {
  width: 30%;
  height: 100%;
}

.kino-haqida-container-img img {
  border-radius: 10px;
}

.kino-haqida-container-img-btn{
  width: 96%;
  height: 50px;
  color: white;
  background-color: green;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px ;
}

.kino-haqida-container-description {
  width: 69%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-left: 10px;
}

.kino-haqida-container-description-title {
  height: 20%;
  font-size: 50px;
  font-weight: bold;
  padding: 40px 0px 0px 30px;
}

.kino-haqida-container-description-genre {
  color: red;
  padding-left: 30px;
}

.kino-haqida-container-description-p {
  padding: 10px 30px 0px 30px;
  text-align: justify;
}